# Byte-compiled / optimized / DLL files
*__pycache__*

# PyCharm
.idea


# Text file
*.txt

# Image extension
*.jpg
*.png
*.jpeg

# Video extension
*.mp4
*.avi

# PyTorch weights
*.tar
*.pth
*.pt
*.gz
*.onnx

# TensorRT weights
*.engine
*.wts

# Compress file
*.zip
*.rar
*.7zip
*.so

# Folder
/data/aicity2021_final/outputs/
/data/aicity2021_final/rmois_description/

/data/carla_night/outputs/
/data/carla_night/rmois_description/
/data/carla_night/bbox/
/data/carla_night/video/
/data/carla_rain/rmois_description/

/src/motordriver/models_zoo/

/src/tfe/data/carla_rain/bbox/
/src/tfe/data/carla_night/bbox/
/src/tfe/data/carla_weather/bbox/
/src/tfe/data/carla_weather/outputs/

/src/tfe_OLD/data/carla_rain/bbox/
/src/tfe_OLD/data/carla_night/bbox/
/src/tfe_OLD/data/carla_weather/bbox/
/src/tfe_OLD/data/carla_weather/outputs/
/src/tfe_OLD/tfe/utils/eval_count/venv/
