# Byte-compiled / optimized / DLL files
*__pycache__*

# PyCharm
.idea


# Video extension
*.mp4
*.avi


# PyTorch weights
*.tar
*.pth
*.pt
*.gz


# TensorRT weights
*.engine
*.wts

# Compress file
*.zip
*.rar
*.so

# Folder
/data/aicity2021_final/outputs/
/data/carla/outputs/
/data/aicity2021_final/rmois_description/
/data/carla/rmois_description/
/data/carla/bbox/
